<!DOCTYPE html>
<html>
    <%- include('partials/head'); %>
  <body>
    <%- include('partials/header'); %>
    <h5>Saved Books</h5>
    <main>
        <h4>Count: <%= books.length %></h4>
        <ul id = books>
            <% books.forEach((book) => { %>
            <li>
              <img id = "book_img" src= "<%= book.image_url %>"/>
             <b><%= book.title%></b> <br>
              <em><%= book.author%> </em><br>
             <button  id = "viewDetailsButton" onclick='location.href="/books/<%= book.id %>"' >View Details </button>
              <!-- <p id= "details"><%= book.description %> </p> -->
              <!-- <em id = "isbn"><%= book.isbn %></em> -->
              <% }); %>
            </li>
        </ul>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
